#canvas  {
    border: 1px solid silver;
    position: absolute;
    z-index: -100;
}

#lineY {
    border: 1px solid black;
}

#lineX {
    border: 1px solid black;
    margin-left: 4em;
}   

.instruction > p {
    color: red;
}

#canvasFigurs {
    border: 1px solid silver;
    margin: 0;
    position: absolute;
}

#container {
    margin-left: 1em;                       
}

#text {
    margin-left: 45%;
}